body{
    background-color: snow;
    margin: 0;
    padding: 0;
}
.navBar{
    width: 100vw;
    height: 6em;
    top: 0;
    position: fixed;
    display: flex;
    background-color: rgb(24, 24, 24);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 2;
}
.navBar nav{
    margin: auto;
    margin-left: 1.5em;
}
.navBar nav a{
    text-decoration: none;
}
.navBar nav a img{
    height: 4em;
}
.navBar ul{
    height: 3em;
    color: white;
    list-style: none;
    display: flex;
    margin: auto;
    margin-right: 2em;
    gap: 1.5em;
}
.navBar ul li{
    color: white;
    margin: auto;
}
.navBar ul li button{
    padding: 0.7em;
    font-size: 1em;
    color: white;
    background-color: rgb(20, 20, 20);
    border-style: solid;
    border-color: white;
    border-width: 0.1px;
    border-radius: 0.3em;
    cursor: pointer;
    transition: .2s;
}
.navBar ul li button:hover{
    background-color: rgb(34, 34, 34);
    transition: .2s;
}